.WrapperEditor {
  position: relative;
  .monaco-editor,
  .monaco-editor-background,
  .monaco-editor .inputarea.ime-input {
    background-color: #06022a;
  }

  .monaco-editor .margin {
    background-color: #303235;
  }

  .mtk1 {
    color: #ec03e8;
  }

  .mtk20 {
    color: #e71232;
  }

  .mtk5 {
    color: #43f311;
  }

  .mtk6 {
    color: #f60e0e;
  }

  .mtk22 {
    color: #ffee2f;
  }

  height: 100%;
  width: calc(100% - 10px);
  .button-format {
    position: absolute;
    bottom: -9px;
    right: 15px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .button-execute {
    position: absolute;
    bottom: -9px;
    right: 100px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover {
    .button-format {
      opacity: 1;
    }
    .button-execute {
      opacity: 1;
    }
  }
}
