$backgroundPreview: #471a81;

.react-draggable-transparent-selection {
  .previewWrapper {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
    }
  }
}

.previewWrapper {
  position: relative;
  color: black;
  background: $backgroundPreview;
  height: 100%;
  flex-grow: 1;
  border: none;
  iframe {
    display: block;
    height: 100%;
    width: 100%;
  }
}
