@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.iframe {
  height: 95%;
  color: black;
  background: #9b8aab;
  iframe {
    width: 100%;
    border: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}
.button {
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
